{% extends 'base.html' %}

{% block title %} Home {% endblock %}

{% block content %}

    <div class="p-4 sm:ml-16">
        <div class="p-4 rounded-lg dark:border-gray-700 mt-8">
      <!-- Default homepage content -->
            <div class="flex flex-col items-left justify-center h-48 mb-4 rounded-sm bg-gray-50 dark:bg-gray-900 dark:text-white">
                <h1 class="mb-4 pb-4 mt-8 text-7xl font-bold font-sans text-orange-500">terms and conditions</h1>
                <p>utlectives is not officially endorsed by uts blah blah blah</p>
            </div>
        </div>
    </div>

{% endblock %}